a.brand-link {
}

a.brand-link img {
    height: 33px;
    width: 33px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: .8rem;
    margin-right: 0.5rem;
    margin-top: -3px;
}


.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.auth-logo {
    height: 100px;
    width: 100%;
}

.auth-logo img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}
